/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: "thrones";
  src: url('game_of_thrones.ttf') format("truetype");
}
/*.flash{
	font-family: fantasy;
	border: 1px solid;
	text-align: center;
}*/
.alert{
	font-family: fantasy;
	border: 1px solid;
	text-align: center;
	color:red;
	border-color: red;
}

.notice{
	font-family: fantasy;
	border: 1px solid;
	text-align: center;
	color: green;
	border-color: green;
}
body{
	font-family: "thrones";
	text-align:  center;
	box-sizing: border-box;
}
h1{
	font-size: 300%;
}
a{
	text-decoration: none;
	color: black;
	font-size: 120%;
}
a:hover{
	font-weight: 900;
	text-shadow: 1px 1px 1px black;
}
h3{
	font-family: fantasy;
}
.bannerMen{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.sigils{
	width: 25%;
	margin-top: 10px;
	margin: 0 10px;
}
.sigils img{
	width: 100%;
}


.form{
	border: 1px solid black;
	box-shadow: 0 0 3px black;
	width: 35%;
	margin: 0 auto;
	padding: 10px;
}

form > *{
	margin: 10px 0;
}
.gone{
	background: darkred;
	color: white;
}






